<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WiseProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="~/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="~/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="~/css/responsive.css">
    
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
</head>
<body>
    <!--====== HEADER PART START ======-->

    <header id="header-part">
        <div class="navigation navigation-2 navigation-3">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo-2.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="active" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about.html">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Courses" asp-action="Index">Courses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="teachers.html">Instructors</a>
                                    </li>
                                    <li class="nav-item dropdown data-bs-toggle pe-3">
                                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                            <i class="fa fa-user"></i>
                                            <span class="d-none d-md-block dropdown-toggle ps-2">@(User.Identity.IsAuthenticated ? "Welcome, " + User.Identity.Name : "Login")</span>
                                        </a><!-- End Profile Image Icon -->
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li class="dropdown-header">
                                                    <h6>@(User.Identity.IsAuthenticated ? "Welcome, " + User.Identity.Name : "Login")</h6>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-controller="Dashboard" asp-action="Index">
                                                        <i class="bi bi-grid"></i>
                                                        <span>Dashboard</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-controller="Dashboard" asp-action="Profile">
                                                        <i class="bi bi-person"></i>
                                                        <span>Profile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                                                        <i class="bi bi-gear"></i>
                                                        <span>Account Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                        <i class="bi bi-box-arrow-right"></i>
                                                        <span>Sign Out</span>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-area="Identity" asp-page="/Account/Login">
                                                        <i class="bi bi-person"></i>
                                                        <span>Login</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center text-dark" asp-area="Identity" asp-page="/Account/Register">
                                                        <i class="bi bi-person"></i>
                                                        <span>Register</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    
                                    @* <li class="nav-item">
                                        <partial name="_LoginPartial" />
                                    </li> *@
                                    
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </header>

    <!--====== HEADER PART ENDS ======-->
    @RenderBody()

    <!--====== FOOTER PART START ======-->

    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img src="~/images/logo-2.png" alt="Group 4"></a>
                            </div>
                            <p>Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                            <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="index-2.html"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="about.html"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="courses.html"><i class="fa fa-angle-right"></i>Courses</a></li>
                                <li><a href="blog.html"><i class="fa fa-angle-right"></i>News</a></li>
                                <li><a href="events.html"><i class="fa fa-angle-right"></i>Event</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Gallery</a></li>
                                <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                <li><a href="teachers.html"><i class="fa fa-angle-right"></i>Teachers</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-link support mt-40">
                            <div class="footer-title pb-25">
                                <h6>Support</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Documentation</a></li>
                            </ul>
                        </div> <!-- support -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>143 castle road 517 district, kiyev port south Canada</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+3 123 456 789</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>info@yourmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->

        <div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright text-md-right text-center pt-15">
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TP PART ENDS ======-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--====== jquery js ======-->
    <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/js/map-script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>