@model IEnumerable<Assignment>
@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin - Assignments</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Instructor / Assignments</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Assignments</h5>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var assignment in Model)
                            {
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Assignment Id: @assignment.Id
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@assignment.Title</h5>
                                        <h5 class="card-text">@assignment.CourseId</h5>
                                        <h5 class="card-title">@assignment.CourseTitle</h5>
                                        <h5 class="card-title">@assignment.Description</h5>
                                        <h5 class="card-text">@assignment.UserId</h5>
                                        <h5 class="card-text">@assignment.User</h5>
                                        <h5 class="card-text">@assignment.DueDate</h5>
                                    </div>
                                    <div class="card-footer">
                                        <a asp-controller="Instructor" asp-action="EditAssignment">Edit</a>
                                        <a asp-controller="Instructor" asp-action="DeleteAssignment">Delete</a>

                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="card">
                                <div class="card-header">
                                    No assignments created yet
                                </div>
                            </div>
                            <h5 class="card-title">
                                Use the button below to create a assignment
                            </h5>
                            <a class="btn btn-primary" style="width:auto"
                               asp-controller="Assignment" asp-action="Create">
                                Add new assignment
                            </a>
                        }
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
</body>

</html>

